exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "arrows", "axis", "boxplot", "hist", "legend","matplot", "par")
importFrom("stats", "lsfit", "median", "medpolish", "complete.cases")
